@font-face {
    font-family: norse;
    src: url(Norse-Bold.otf);
  }

html, body{
    height: 100vh;
    display: flex;
    margin: 0;
}

.background, .black, .sidebar, .text-logo{
    position: absolute;
    z-index: 1;
}

/* nekeist */
.logo, .text-odin{
    position: relative;
    z-index: 2;
}

.text-odin{
    font-family: norse;
    font-size: 7rem;
    font-weight: bold;
    color: white;
    margin: 0;
}

.sidebar{
    height: 100%;
    width: 30vw;
}

.leaf{
    width: 100%;   
    height: 100%;
    object-fit: cover;
}

.background{
    width: 100%;
    height: 17%;
    top: 20%; 
}

.black{
    background-color: black;
    opacity: 50%;
    width: 100%;
    height: 100%;
}

.text-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;

}

.logo{
    width: 68px;
    height: auto;
}

.main-field{
    width: 70vw;
    height: 100vh;
    display: flex;
    align-self: center;
    flex-direction: column;
    position: absolute;
    left: 30vw;
    background-color: rgb(243, 243, 243);
}
.fieldset{
    border: 0;
    background-color:white;
    width: 100%;
    height: 25%;
    box-shadow: 0 5px 5px rgb(194, 194, 194), 0 -2px 2px rgb(194, 194, 194);
}



.account-info, .description, .left, .fieldset>p{
    margin-left: 4%;
}

.create-account{
    padding: 10px 35px;
    border-radius: 10px;
    background-color: #596D48;
    border: 2px solid #596D48;
    color: white;
    font-weight: bold;
    font-size: 0.8rem;

}

input:focus{
    border-color: rgb(138, 138, 255);
}

input{
    border-radius: 3px;
    padding: 0;
    border-style: none;
    border: 2px solid #E5E7EB; 
}

button:hover{
    background-color: rgb(230, 230, 230);
    color: #596D48;
    box-shadow: 5px 5px 5px rgb(146, 146, 146);
}

.account-info{
    margin-top: 4%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    margin-bottom: auto;
}

.description{
     margin-top: 10%;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     font-weight: 500;
    font-size: 1.2rem;
    margin-bottom: 5%;
    margin-right: 25%;
}

.account{
    font-weight: 400;
}

a{
    font-weight: bold;
    color: green;
}

.lets{
    
}