@font-face {
    font-family: norse;
    src: url(Norse-Bold.otf);
  }

html, body{
    height: 100vh;
    display: flex;
    margin: 0;
}

.background, .black, .sidebar, .text-logo{
    position: absolute;
    z-index: 1;
}

.logo, .text-odin{
    position: relative;
    z-index: 2;
}

.text-odin{
    font-family: norse;
    font-size: 7rem;
    font-weight: bold;
    color: white;
    margin: 0;
}

.sidebar{
    height: 100%;
    width: 30%;
}

.leaf{
    width: 100%;   
    height: 100%;
    object-fit: cover;
}

.background{
    width: 100%;
    height: 17%;
    top: 20%; 
}

.black{
    background-color: black;
    opacity: 50%;
    width: 100%;
    height: 100%;
}

.text-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;

}

.logo{
    width: 68px;
    height: auto;
}

.main-field{
    width: 70%;
    display: flex;
    align-items: center;
    align-self: center;
    flex-direction: column;
    position: absolute;
    left: 30vw;
}
fieldset{
    border: 0;
}